*.swp
*.nes
*.ips
*.zip
*.exe
*.o
map.html
report.py
.idea
sdcard
dwrandomizer
cmake_install.cmake
CMakeCache.txt
Makefile
build/
builds/
__pycache__
CMakeFiles
/msvc/MetaObjects/moc_main-window.cpp
/msvc/MetaObjects/moc_widgets.cpp
