
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #888;
    margin: 0;
}

body > div {
    background-color: #fff;
    max-width: 800px;
    padding: 1em;
    margin: auto;
    user-select: none;
}

h1, h3 {
    text-align: center;
}

tabbar {
    display: block;
}

tab {
    display: inline-block;
    border: 1px solid black;
    border-bottom-width: 0;
    padding: 0.5em 1em;
    margin: 0;
    background-color: #ddd;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
}

tab.active {
    padding: calc(0.5em + 2px) 1em 0.5em 1em;
    position: relative;
    top: 1px;
}

tab:hover, tab.active {
    background-color: #fff;
}

tabcontent {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px 50px 50px 50px;
    border: 1px solid black;
    border-radius: 0 0 4px 4px;
    padding: 3em;
}

.invalid {
    border-color: red;
}
